html, body {
    width: 100%;
    height: 100%;
    background-color: rgb(31,36,39);
}

.node circle {
  fill: rgb(120,120,120);
}

.node text {
    font-family : 'Yu Gothic';
    font-size: 15px;
    fill: rgb(146,166,116   );
}

.link {
  fill: none;
  stroke: rgb(80,80,80);
  stroke-width: 1px;
}
