body{
	background-color: rgb(31,36,39);
	height: 100vh;
}

.node {
	cursor: pointer;

}

circle {
  fill: rgb(155,220,62);
}

text {
  font: 12px sans-serif;
  fill: rgb(150,150,150);
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
